extends layout

block content
  div.header
    h1 Dashboard
  div.dash
    div.resources
      div.column
        h2 Resources
        a(href="http://mha.ohio.gov/Portals/0/assets/Supports/ClientRights/cap-crisis-hotlines.pdf") Crisis Hotlines
        a(href="https://prod.ada.ohio.gov/directory/") Services By County
        a(href="http://www.oacca.org/find-a-service/substitute-care-out-of-home-care/") Housing and Care
        a(href="https://www.ohiowomensnetwork.org/") Ohio Women's Network
        a(href="http://mha.ohio.gov/Default.aspx?tabid=756") Therapeutic Communities
    div.conversation
      div.column
        h2 Your Conversation
        p(style="padding: 0.5rem;") Send a message:
        div.messaging(style="padding: 1rem;")
          label(for="recipient") Recipient:
            input.recipientBox(type="text", name="recipient")
          br
          br
          label(for="message") Message:
            textarea.msgBox(type="textarea", name="message" style="padding-top: 1rem")
          a.sendMessage Send!
        p.hist(style="padding: 1rem;") Conversation history:
        table
          tr.heading
            th Sender
            th Message
          each val in messages
            tr
              td= val.sender
              td.message= val.message
    div.progress
      div.column
        h2 Progress
        p(style="padding: 0.5rem;") You have been sober for 
          span= days_sober
            span  days
        


block append head
  link(rel="stylesheet", href="dashboard.css")
  link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")