extends layout

block content
  div.header
    h1 Dashboard
  div.dash
    div.resources
      h2 Resources
      div.column
        a(href="http://mha.ohio.gov/Portals/0/assets/Supports/ClientRights/cap-crisis-hotlines.pdf") Crisis Hotlines
        a(href="https://prod.ada.ohio.gov/directory/") Services By County
        a(href="http://www.oacca.org/find-a-service/substitute-care-out-of-home-care/") Housing and Care
        a(href="https://www.ohiowomensnetwork.org/") Ohio Women's Network
        a(href="http://mha.ohio.gov/Default.aspx?tabid=756") Therapeutic Communities
    div.conversation
      h2 Your Conversation
      div.column
        p Send a message:
        textarea
        a(href="") Send
        p.hist Conversation history:
        table
          tr.heading
            th Sender
            th Message
          each val in messages
            tr
              td= val.sender
              td.message= val.message
    div.blankfornow
      h2 Placeholder
      div.column


block append head
  link(rel="stylesheet", href="dashboard.css")
  link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")