extends layout

block content
  div.gridContainer
    div.intro
      h1 RecoveryConnect
      p RecoveryConnect is a way for you to find a community to help support you through recovery. Get support from a network of people who have been through the recovery process. 
    a(href="/start") Let's go!

block append head
  link(rel="stylesheet", href="client.css")
  link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")
