extends layout

block content
  div.gridContainer
    div.intro
      h1 RecoveryConnect
      h2 A support community for your recovery
      a(href="/start") Let's go!
  

block append head
  link(rel="stylesheet", href="client.css")
  link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")