extends layout

block content
  div.gridContainer
    div.intro RecoveryConnect is a way for you to find a community to help support you through recovery. 
    div.start
      a(href="/start") Let's go!

block append head
  link(rel="stylesheet", href="client.css")
