extends layout

block content
    h1 Get Started
    div.field
        p First, sign in with Google.
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        form.signup(action="/api/signup" method="post")
            input.hide(type="text",name="user_id", value="")
            label(for="firstName") First Name: 
                input(type="text", name="firstName")
            label(for="age") Age: 
                input(type="text", name="age")
            label(for="gender") Gender:
                input(type="text", name="gender")
            label(for="neighborhood") Neighborhood:
                input(type="text", name="neighborhood")
            label(for="sobrmnth") Sobriety Month: 
                input(type="text", name="sobriety_month")
            label(for="sobryr") Sobriety Year: 
                input(type="text", name="sobriety_year")
            input(type="submit", value="Sign Up!")

block append head
    link(rel="stylesheet", href="start.css")
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="759496190112-ouf5971sqnmki2u1ph44oullfqn480cc.apps.googleusercontent.com">
    script(type="text/javascript", src="/js/client.js")
    link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")
