extends layout

mixin getMonths()
    for month in ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
        option(value=month)= month

mixin getRange(start,end)
    - var i = end;
    while i > start && start < end
        option(value=i)= i--


block content
    h1 Get Started
    div.field
        p First, sign in with Google.
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        form.signup(action="/api/signup" method="post")
            label(for="user_id") Email:
                input.hide(type="text",name="user_id", required="true")
            label(for="firstName") First Name:
                input(type="text", name="firstName", required="true")
            label(for="middleInitial") Middle Initial:
                input(type="text", maxlengtth="1", name="middleInitial", required="true")
            label(for="age") Age:
                select(name="age", required="true")
                    +getRange(9,99)
            </br>
            label(for="gender") Gender:
                <input type="radio" name="gender" value="female" checked="true">Female</input>
                <input type="radio" name="gender" value="male">Male</input>
                <input type="radio" name="gender" value="other">Other</input><br/>
            label(for="neighborhood") Zipcode:
                input(type="text", name="neighborhood", required="true")
            label(for="sobrmnth") Sobriety Month:
                select(name="sobriety_month", required="true")
                    +getMonths()
            label(for="sobryr") Sobriety Year: 
                select(name="sobriety_year", required="true")
                    +getRange(1920,(new Date()).getFullYear())
            input(type="submit", value="Sign Up!")


block append head
    link(rel="stylesheet", href="start.css")
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="759496190112-ouf5971sqnmki2u1ph44oullfqn480cc.apps.googleusercontent.com">
    link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")
