html {
    background-color: #dddddd;
}

body {
    font-family: "Roboto";
}

div.header{
    width: 100%;
    max-height: fit-content;
    background-color: #4A829C;
    color: #ffffff;
}

div.header h1 {
    margin: auto;
    font-weight: 100;
    font-size: 3rem;
    padding: 1rem;
    text-align: center;
}

div.dash {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

div.dash h2 {
    text-align: center;
    background-color: #4A829C;
    padding: 1rem;
    margin-bottom: 0;
    color: #ffffff;
    font-weight: 100;
}

div.resources {
    grid-column: 1;
}

div.conversation {
    grid-column: 2 / 4;
}

div.blankfornow {
    grid-column: 4;
}

div.column {
    padding-top: 0.5rem;
    padding-bottom: 0.1rem;
    background-color: #ffffff;
}

div.column a {
    display: flex;
    background-color: white;
    color: #222222;
    border: 1px solid #E27033;
    height: 3rem;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    margin: 5px;
}

