html{
    background-image: url("images/background.jpeg");
    background-position: right bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

div.gridContainer {
    width: 95%;
    margin: auto;
    min-height: fit-content;
    max-height: fit-content;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: rgba(256, 256, 256, 0.5);
    font-family: Roboto;
}

div.gridContainer a {
    opacity: 1;
    display: flex;
    background-color: #E27033;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 4rem;
    font-size: 2rem;
    margin: 1rem;
    text-decoration: none;
    color: #eeeeee;
}

div.intro {
    margin-left: 1rem;
    margin-right: 1rem;
}

div.intro h1 {
    margin-bottom: 1rem;
    font-weight: 100;
    font-size: 2.2rem;
}
