html{
    background-image: url("images/background.jpeg");
    background-position: right bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-family: Roboto;
}

div.intro a {
    display: flex;
    background-color: #E27033;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 4rem;
    font-size: 2rem;
    margin: 1rem;
    margin-left: 0;
    margin-top: 6rem;
    text-decoration: none;
    color: #eeeeee;
}

div.intro {
    padding-left: 1rem;
    position: absolute;
    width: 95%;
    margin: auto;
    min-height: fit-content;
    max-height: fit-content;
    position: absolute;
    top: 0; left: 0; bottom: 17rem; right: 0;
    color: #ffffff;
}

div.intro h1 {
    margin-bottom: 1rem;
    font-weight: 100;
    font-size: 4rem;
}

div.intro h2 {
    margin-bottom: 1.5rem;
    font-weight: 100;
    font-size: 3.5rem;
    margin-top: 0;
}
