html{
    background-image: url("images/background.jpeg");
    background-position: right bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% auto;
    @media screen and (max-width: 1150px){
    background-size: auto 100%;
    }
    font-family: Roboto;
    font-weight: 100;
    color: #ffffff;
}

body {
    width: 95%;
    margin-left: 3rem;
}

h1 {
    font-size: 2rem;
}

div.field {
    background-color: rgba(100, 100, 100, 0.5);
    max-width: 40rem;
    padding: 1rem;
    text-align: center;
}

.g-signin2 {
    display: inline-block;
}

div.field p {
    font-size: 1rem;
}

.splash {
    font-size: 4rem;
}

.signup {
    text-align: left;
    margin: 1rem;
    border: 2px solid grey;
    padding: 1.5rem;
}

.signup * {
    margin-left: 1.2rem;
}

.signup input {
    display: block;
    margin: 1rem;
    padding: 0.4rem 1rem 0.4rem 0.3rem;
}

.signup input[type="radio"] {
    display: inline-block;
    margin: 0.5rem;
}